.bash_history
.cache/
.config/
infrastructure/google*
infrastructure/.env*
log/
public/assets/
public/data/
upload_data/
view/

# Android specific
android/app/build/
android/.gradle/
android/local.properties
#android/gradlew
#android/gradlew.bat
android/app/src/main/assets/
android/app/src/main/ic_launcher.png
# Keep source files but ignore build artifacts

# upload/

# infrastructure/fullchain.pem
# infrastructure/privkey.pem
infrastructure/service-account-key.json

