/*@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/
body {
  margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
a {
  text-decoration: none;
}
#content {
  padding: 2px;
  word-break: break-all;
}

/*.emoji {
  font-size: 40px;
}
.icon {
  max-height: 48px;
  vertical-align: middle;
}*/
@media screen and (min-width : 701px) { 
  #drawer_column {
    width : 300px;
    /*float : left;*/
    position: absolute;
  }
  #content{
    width: 400px;
    /*float:left;*/
    margin: 0px 4px 0px 300px;
    position: absolute;
  }

  .pc_disp_none{
    display: none;
  }
  #ad_right{
    margin:2px;
  }
}

@media screen and (max-width : 700px) {
  #header{
    width: 100%;
    text-align: left;
    background-color: #EEEEEE;
  }
  .sp_disp_none{
    display: none;
  }
  .menu{
    width: 50px;
    height: 50px;
    font-size: 40px;
  }
  #content{
    margin-left: 50px;
  }
}