body {
  margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
a {
  text-decoration: none;
}
#content {
  padding: 2px;
  word-break: break-all;
}

@media screen and (min-width : 701px) { 
  #app {
    display: flex;
    min-width: 1000px;
  }

  #container {
    display: flex;
    min-width: 1012px; /* 300 + 400 + 300 = 1000pxが最低 */
  }

  #drawer_column {
    width: 300px;
    flex-shrink: 0;
  }

  #content {
    min-width: 400px;
    flex-grow: 1;
    margin: 0 4px;
  }

  #ad_right {
    width: 300px;
    margin-left: 4px;
  }

  .pc_disp_none{
    display: none;
  }
}

@media screen and (max-width : 700px) {
  #header{
    width: 100%;
    text-align: left;
    background-color: #EEEEEE;
  }
  #ad_right {
    display: none;
  }
  .sp_disp_none{
    display: none;
  }
  .sp_head {
    margin: 0px 0px 0px 50px;
  }
}