<!doctype html>
<html lang="en">
<head>
  <title>Webpush Register</title>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/myGlobal.js?{{.CacheV}}"></script>
  <script src="/js/IndexedDB.js?{{.CacheV}}"></script>
</head>
<body>

<div id="outsideApp">
  <script type="module" src="/src/outsideApp.js"></script>
  <script type="module" src="/src/main.js"></script>
  <div id="drawer_column"></div>
  <div id="content">
    <br><br>
    <div><a href="/user/" > ユーザー設定 </a>してください</div>
  </div>
  <div id="ad_right">
    <div id="ad-right1"></div>
    <div id="ad-right2"></div>
    <div id="ad-right3"></div>
  </div>
</div>

<script>
  /*
    window.addEventListener('load', () => {
      // ✅ main.js 読み込み完了後に実行される
      if (typeof window.pushReceive === 'function') {
        pushReceive(null)
      } else {
        console.error("❌ pushReceive is not loaded yet.");
      }
    });
  */
  {{if .Session.Csrf}}
    localStorage.setItem("csrf", "{{.Session.Csrf}}");
  {{end}}
  // pushReceive(null)
    function subscribe() {
      navigator.serviceWorker.ready
        .then(function(registration) {
          const vapidPublicKey = 'BIN2Jc5Vmkmy-S3AUrcMlpKxJpLeVRAfu9WBqUbJ70SJOCWGCGXKY-Xzyh7HDr6KbRDGYHjqZ06OcS3BjD7uAm8';

          return registration.pushManager.subscribe({
            userVisibleOnly: true,
            applicationServerKey: urlBase64ToUint8Array(vapidPublicKey),
          });
        })
        .then(function(subscription) {
          console.log(
            JSON.stringify({
              subscription: subscription,
            })
          );
          pushSubscribe(subscription);
        })
        .catch(err => console.error(err));
    }

    function urlBase64ToUint8Array(base64String) {
      const padding = '='.repeat((4 - (base64String.length % 4)) % 4);
      const base64 = (base64String + padding)
        .replace(/\-/g, '+')
        .replace(/_/g, '/');
      const rawData = window.atob(base64);
      return Uint8Array.from([...rawData].map(char => char.charCodeAt(0)));
    }

    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js');
      navigator.serviceWorker.ready
        .then(function(registration) {
          return registration.pushManager.getSubscription();
        })
        .then(function(subscription) {
          if (!subscription) {
            subscribe();
          } else {
            console.log(
              JSON.stringify(subscription)
            );
            pushSubscribe(subscription);
          }
        });
    }
    async function pushSubscribe(subscription) {
      const fd = new FormData()
      fd.append('subscription', JSON.stringify(subscription))
      fd.append('csrf', localStorage.getItem("csrf"))
      const res = await sendRequest('/PushSubscribe/', fd)
      if (!res.csrf) {
        // errorMessage.value = res
        document.body.prepend(res)
        return
      }
      localStorage.setItem('csrf', res.csrf)
      if (Array.isArray(res.pushContents)) {
        for (const content of res.pushContents) {
          await pushReceive(content)
        }
      }
      if (res.error) {
        document.body.prepend(res.error)
        // errorMessage.value = res.error
      }
      if (Array.isArray(res.channels)) {
        for (const ch of res.channels) {
          // await pushReceive(content)
          upsertIDB(ch, 'channel', 'channelID', ch.channelID)
          if (Array.isArray(ch.aliases)) {
            for (const alias of ch.aliases) {
              upsertIDB(alias, 'alias', 'aliasID', alias.aliasID)
            }
          }
          if (Array.isArray(ch.groups)) {
            for (const group of ch.groups) {
              upsertIDB(group, 'group', 'group', group.groupID)
            }
          }
        }
      }
    }
</script>
</body>
</html>