<!DOCTYPE html>
<html>
  <head>
    <title>サインイン</title>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no" >
    <script src="/js/myGlobal.js?{{.CacheV}}"></script>
    <script src="/js/IndexedDB.js?{{.CacheV}}"></script>
  </head>

<style>
#drawer td {
  background-color: #EEEEEE;
}
</style>

<body>
<div id="app">
  <script type="module" src="/src/outsideApp.js"></script>
  <div id="drawer_column"></div>
  <div id="content">
    <h2 class="sp_head">サインイン</h2>
    <br>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
       data-client_id="{{.GoogleClientID}}"
       data-login_uri="https://{{.Domain}}/SignInGoogle/"
       data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
       data-type="standard"
       data-size="large"
       data-theme="outline"
       data-text="sign_in_with"
       data-shape="rectangular"
       data-logo_alignment="left">
    </div>
    <div id="sign-app"></div>
  </div>
  <div id="ad_right">
    <div id="ad-right1"></div>
    <div id="ad-right2"></div>
    <div id="ad-right3"></div>
  </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JVDHVL1SNL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JVDHVL1SNL', {
      'page_location': location.protocol + '//' + location.host + location.pathname,
    });
  </script>

</body>
</html>
