<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webpush register</title>
    <script src="/js/myGlobal.js?0625_7"></script>
    <script src="/js/IndexedDB.js?0625_7"></script>
</head>
<body>

<div id="content">
  <!-- <div id="app"></div> -->
  <script type="module" src="/assets/outsideApp.js?5"></script>
  <div><a href="/user/" > ユーザー設定 </a>してください</div>
</div>

<script>
/*
  window.addEventListener('load', () => {
    // ✅ main.js 読み込み完了後に実行される
    if (typeof window.pushReceive === 'function') {
      pushReceive(null)
    } else {
      console.error("❌ pushReceive is not loaded yet.");
    }
  });
*/
  {{if .Session.Csrf}}
    localStorage.setItem("csrf", "{{.Session.Csrf}}");
  {{end}}
  // pushReceive(null)
    function subscribe() {
      navigator.serviceWorker.ready
        .then(function(registration) {
          const vapidPublicKey = 'BIN2Jc5Vmkmy-S3AUrcMlpKxJpLeVRAfu9WBqUbJ70SJOCWGCGXKY-Xzyh7HDr6KbRDGYHjqZ06OcS3BjD7uAm8';

          return registration.pushManager.subscribe({
            userVisibleOnly: true,
            applicationServerKey: urlBase64ToUint8Array(vapidPublicKey),
          });
        })
        .then(function(subscription) {
          console.log(
            JSON.stringify({
              subscription: subscription,
            })
          );
          pushSubscribe(subscription);
        })
        .catch(err => console.error(err));
    }

    function urlBase64ToUint8Array(base64String) {
      const padding = '='.repeat((4 - (base64String.length % 4)) % 4);
      const base64 = (base64String + padding)
        .replace(/\-/g, '+')
        .replace(/_/g, '/');
      const rawData = window.atob(base64);
      return Uint8Array.from([...rawData].map(char => char.charCodeAt(0)));
    }

    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js');
      navigator.serviceWorker.ready
        .then(function(registration) {
          return registration.pushManager.getSubscription();
        })
        .then(function(subscription) {
          if (!subscription) {
            subscribe();
          } else {
            console.log(
              JSON.stringify(subscription)
            );
            pushSubscribe(subscription);
          }
        });
    }
    async function pushSubscribe(subscription) {
      const fd = new FormData()
      fd.append('subscription', JSON.stringify(subscription))
      fd.append('csrf', localStorage.getItem("csrf"))
      const res = await sendRequest('/PushSubscribe/', fd)
      if (!res.csrf) document.body.prepend(res)
      res.csrf && localStorage.setItem('csrf', res.csrf)
      res.pushContents.forEach(content => {
        pushReceive(content)
      })
      // location.href = '/user/'
    }
</script>
</body>
</html>