<!doctype html>
<html lang="en">
<head>
  <title>Webpush Register</title>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/myGlobal.js?{{.CacheV}}"></script>
  <script src="/js/IndexedDB.js?{{.CacheV}}"></script>
  <script type="module" crossorigin src="/assets/pushReceive-C6Uo7oGg.js"></script>
  <script type="module" crossorigin src="/assets/Advertisement-TbsS7gJu.js"></script>
  <script type="module" crossorigin src="/assets/Drawer-BweAS2JT.js"></script>
  <script type="module" crossorigin src="/assets/outsideApp-C8F5DMNG.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/pushReceive-D-fEpAbp.css">
  <link rel="stylesheet" crossorigin href="/assets/Advertisement-DhaK2e1-.css">
  <link rel="stylesheet" crossorigin href="/assets/Drawer-BfStqDdo.css">
</head>
<body>

<div id="app">
  <div id="drawer_column"></div>
  <div id="content">
    <br><br>
    <div><a href="/user/" > ユーザー設定 </a>してください</div>
  </div>
  <div id="ad_right">
    <div id="ad-right1"></div>
    <div id="ad-right2"></div>
    <div id="ad-right3"></div>
  </div>
</div>

<script>
  /*
    window.addEventListener('load', () => {
      // ✅ main.js 読み込み完了後に実行される
      if (typeof window.pushReceive === 'function') {
        pushReceive(null)
      } else {
        console.error("❌ pushReceive is not loaded yet.");
      }
    });
  */
  {{if .Session.Csrf}}
    localStorage.setItem("csrf", "{{.Session.Csrf}}");
  {{end}}
  // pushReceive(null)
    function subscribe() {
      navigator.serviceWorker.ready
        .then(function(registration) {
          const vapidPublicKey = 'BIN2Jc5Vmkmy-S3AUrcMlpKxJpLeVRAfu9WBqUbJ70SJOCWGCGXKY-Xzyh7HDr6KbRDGYHjqZ06OcS3BjD7uAm8';

          return registration.pushManager.subscribe({
            userVisibleOnly: true,
            applicationServerKey: urlBase64ToUint8Array(vapidPublicKey),
          });
        })
        .then(function(subscription) {
          console.log(
            JSON.stringify({
              subscription: subscription,
            })
          );
          pushSubscribe(subscription);
        })
        .catch(err => console.error(err));
    }

    function urlBase64ToUint8Array(base64String) {
      const padding = '='.repeat((4 - (base64String.length % 4)) % 4);
      const base64 = (base64String + padding)
        .replace(/\-/g, '+')
        .replace(/_/g, '/');
      const rawData = window.atob(base64);
      return Uint8Array.from([...rawData].map(char => char.charCodeAt(0)));
    }

    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js');
      navigator.serviceWorker.ready
        .then(function(registration) {
          return registration.pushManager.getSubscription();
        })
        .then(function(subscription) {
          if (!subscription) {
            subscribe();
          } else {
            console.log(
              JSON.stringify(subscription)
            );
            pushSubscribe(subscription);
          }
        });
    }
    async function pushSubscribe(subscription) {
      const fd = new FormData()
      fd.append('subscription', JSON.stringify(subscription))
      fd.append('csrf', localStorage.getItem("csrf"))
      const res = await sendRequest('/PushSubscribe/', fd)
      if (!res.csrf) document.body.prepend(res)
      res.csrf && localStorage.setItem('csrf', res.csrf)
      res.pushContents.forEach(content => {
        pushReceive(content)
      })
      // location.href = '/user/'
    }
</script>
</body>
</html>