<!DOCTYPE html>
<html>
<head>
  <title>🚪🚶ログイン</title>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, user-scalable=no" >
  <script src="/js/myGlobal.js?{{.CacheV}}"></script>
  <script src="/js/IndexedDB.js?{{.CacheV}}"></script>
  <style>
    input {
      padding: 5px;
      font-size: 16px;
    }
    button {
      margin-top: 10px;
      padding: 5px 10px;
      font-size: 16px;
    }
  </style>
  <script type="module" crossorigin src="/assets/pushReceive-C6Uo7oGg.js"></script>
  <script type="module" crossorigin src="/assets/Advertisement-TbsS7gJu.js"></script>
  <script type="module" crossorigin src="/assets/Drawer-BweAS2JT.js"></script>
  <script type="module" crossorigin src="/assets/outsideApp-C8F5DMNG.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/pushReceive-D-fEpAbp.css">
  <link rel="stylesheet" crossorigin href="/assets/Advertisement-DhaK2e1-.css">
  <link rel="stylesheet" crossorigin href="/assets/Drawer-BfStqDdo.css">
</head>

<body>
  <div id="app"></div>
<div class="menu pc_disp_none">≡</div>

<div id="content">

  <br><br>
  <input id="userID" placeholder="seijiro" />
  <br>
  <button id="setCookieBtn">setCookie</button>

<br><br>

</div>

<div id="ad_right"></div>

<script type="text/javascript">
  document.getElementById('setCookieBtn').addEventListener('click', function() {
    const userIDValue = document.getElementById('userID').value;
    const fd = new FormData();
    fd.append('userID', userIDValue);

    fetch('/SignInTmp/', {
      method: 'POST',
      body: fd,
    })
    .then((response) => {
      console.log(response);
      location.href = '/pushSubscription/'
    })
    .catch((reason) => {
      console.log(reason);
    });
  });
</script>

</body>
</html>
