<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>🚪🚶ログイン</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, user-scalable=no" >
  <style>
    input {
      padding: 5px;
      font-size: 16px;
    }
    button {
      margin-top: 10px;
      padding: 5px 10px;
      font-size: 16px;
    }
  </style>
</head>

<body>

<div class="menu pc_disp_none">≡</div>

<div id="content">
  <br><br>
  <input id="userID" placeholder="seijiro" />
  <br>
  <button id="setCookieBtn">setCookie</button>
</div>

<div id="ad_right"></div>

<script type="text/javascript">
  document.getElementById('setCookieBtn').addEventListener('click', function() {
    const userIDValue = document.getElementById('userID').value;
    const fd = new FormData();
    fd.append('userID', userIDValue);

    fetch('/TmpLogin/', {
      method: 'POST',
      body: fd,
    })
    .then((response) => {
      console.log(response);
      location.href = '/pushSubscription/';
    })
    .catch((reason) => {
      console.log(reason);
    });
  });
</script>

</body>
</html>
