<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>🚪🚶ログイン</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no" >
  </head>
<style>

</style>
<body>

<div class="menu pc_disp_none">≡</div>

<div id="content">

<div>
<br><br><br><br><br>
      <script src="https://accounts.google.com/gsi/client" async defer></script>
      <div id="g_id_onload"
         data-client_id="163867041258-k0h1g9s3qdt5b2qbo3ajlmh7fah8citl.apps.googleusercontent.com"
         data-login_uri="https://chat.quigen.info/GoogleIdentity/"
         data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
      </div>


</div>
<br><br><br><br><br><br><br><br><br><br><br>
</div beginis content>

<div id="ad_right">

</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JVDHVL1SNL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-JVDHVL1SNL', {
    'page_location': location.protocol + '//' + location.host + location.pathname,
  });
</script>

</body>
</html>

